@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.ttf") format("ttf"), url("../fonts/#{$file_name}.otf") format("otf");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}